<h1>Create your list below</h1>

<%= simple_form_for(@list) do |f| %>
  <%= f.input :name %>
   <%= f.submit class: "btn btn-primary", value: "Submit" %>
   <%= link_to "Homepage", root_path, class: "btn btn-primary" %>
<% end %>
